.actors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &__actor {
    margin-top: 10px;
    width: 250px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 250px;
    }

    h3 {
      color: black;
      text-decoration: none;
    }
  }
}
